<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Mi sitio</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>

<body>
    <h1>{{ titulo }}</h1>
    <a href="/">Inicio</a>
    <a href="/nuevo">Nuevo Producto</a>
    <a href="/productos">Listar productos</a>
    <a href="/cerrar">Cerrar Sesion</a>

    {% if 'usuario' in session: %}
    <h3>usuario:{{session['usuario']}}</h3>
    {% else %}
    <h3>Sin usuario</h3>
    {% endif %}

    {% if request.cookies.get('visited')=="True" %}
    <h4>Que bueno verte por aca! {{g.user}}, recordamos tu idioma preferido {{request.cookies.get('language')}}</h4>
    {% endif %}

    <hr />
    {% with mensajes = get_flashed_messages() %} {% if mensajes %}
    <ul>
        {% for mensaje in mensajes %}
        <li>{{ mensaje }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} 
    {% block contenido %} 
    {% endblock %}
    <p>Eso es todo</p>
</body>

</html>

</html>