{% extends 'base.html' %}
{% block contenido %}
<table id="tabla">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        {% for prod in l_productos %}
            <tr>
                <td>{{ prod[0] }}</td>
                <td>{{ prod[1] }}</td>
                <td>{{ prod[2] }}</td>
                <td>{{ prod[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}